<div class="row">
    <div class="col-xs-8">
        <img src="{{myRecipe.imagePath}}" alt="No Image" style="max-height:320px;" class="img-responsive">
    </div>
</div>
<div class="panel panel-default col-xs-8">
    <div class="panel-body">
        <div class="col-xs-8">
            <h5>Recipe Name: {{myRecipe.name}}</h5>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-xs-8" style="font-weight:bold;">
            <u>Top Comments:</u> <em>  {{myRecipe.description}} </em>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button"
             class="btn btn-primary dropdown-toggle">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="addToShoppingList()" style="cursor:pointer;">To Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredients of myRecipe.ingredients">
                {{ingredients.name}} - {{ingredients.amount}}
            </li>
        </ul>
    </div>
</div>