<a style="cursor:pointer;" [routerLink]="[index]"  class="list-group-item clearfix" routerLinkActive="active">
    <div class="pull-left">
        <h4 class="list-group-item-heading">
            Recipe Name : {{element.name}}
        </h4>
        <p class="list-group-item-text">
            Description : {{element.description}}
        </p>
    </div>
    <span class="pull-right">
        <img src='{{element.imagePath}}' alt='' class="img-responsive" style="max-width: 80px; min-height: 80px;">
    </span>
</a>